.corner-text {
    font-family: Arial, sans-serif;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    color: #007bff;
    padding: 5px;
    margin: 0;
    font-size:20px;
  }

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

.btn:hover {
    background-color: #007bff;
}