<div class="container">
    <h1>Registrarse</h1>
    <div *ngIf="mensajeError" class="error-message">
        {{ mensajeError }}
    </div>
    <form #form="ngForm" (ngSubmit)="submitForm(form)">
        <div class="form-group">
            <label for="id_usuario">Id_Usuario:</label>
            <input type="text" id="id_usuario" name="id_usuario" ngModel required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" ngModel required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" ngModel required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" ngModel required>
        </div>
        <button type="submit" class="btn">Registrarse</button>
    </form>
</div>