<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <h1>Registrarse</h1>
        <form action="#" method="POST" class="register-form">
            <div class="form-group">
                <label for="username">Id_Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="username">Nombre:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Apellido:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Registrarse</button>
        </form>
    </div>
</body>
</html>

