<body>
    <div class="container">
        <div class="header">
            <h1>TaskTrack</h1>
        </div>
        <div class="main-content">
            <div class="sidebar">
                <div class="sidebar-header">
                    <h2>Tareas</h2>
                </div>
                <ul class="task-list" id="task-list">
                    <!-- Las tareas se agregarán dinámicamente aquí -->
                </ul>
            </div>
            <div class="content">
                <form #form="ngForm" (ngSubmit)="submitForm(form)" class="login-form">
                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" ngModel required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" ngModel required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="fechaVencimiento">Fecha de Vencimiento:</label>
                        <input type="date" id="fechaVencimiento" name="fechaVencimiento" ngModel required>
                    </div>

                    <div class="form-group">
                        <label for="prioridad">Prioridad:</label>
                        <select id="prioridad" name="prioridad" ngModel required>
                            <option value="URGENTE">URGENTE</option>
                            <option value="ALTA">ALTA</option>
                            <option value="MEDIA">MEDIA</option>
                            <option value="BAJA">BAJA</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="usuario_asignado">Usuario Asignado:</label>
                        <input type="text" id="usuario_asignado" name="usuario_asignado" ngModel required>
                    </div>

                    <button type="submit" class="btn">Crear Tarea</button>


                </form>
                <div id="success-message" class="hidden">Tarea asignada correctamente</div>
            </div>
        </div>
    </div>

</body>


<!--<button (click)="crearTarea()" class="btn">Crear</button> -->